body {
    background-color: rgb(19, 19, 21);
    font-size: 20px;
    font-family: 'Poppins' !important ;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}


.intro-text h1 {
    margin: 0.2em 0;
    font-size: 3em;
    color: #fff;
    transition: transform 0.3s ease; /* Smooths the transition */
}

.intro-text h1:hover {
    /* transform: translateY(-5px); Moves the text up by 5px on hover */
}

.wave span {
    display: inline-block; /* Needed to apply transformations */
    /* transform: translateY(20px); Start lower to move up */
    transition: all 0.3s ease;
}

.wave:hover span {
    opacity: 1;
    transform: translateY(0);
    animation: wave 0.8s ease forwards;
}

@keyframes wave {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }

}

/* Applying incremental delays to create the wave effect */
.wave span:nth-child(1) { animation-delay: 0s; }
.wave span:nth-child(2) { animation-delay: 0.1s; }
.wave span:nth-child(3) { animation-delay: 0.15s; }
.wave span:nth-child(4) { animation-delay: 0.2s; }
.wave span:nth-child(5) { animation-delay: 0.25s; }
.wave span:nth-child(6) { animation-delay: 0.3s; }
.wave span:nth-child(7) { animation-delay: 0.35s; }
.wave span:nth-child(8) { animation-delay: 0.4s; }
.wave span:nth-child(9) { animation-delay: 0.45s; }


p{
    margin: 0;
}

button{
  background-color: transparent;
  border: 2px solid coral;
  border-radius: 15px;
  box-sizing: border-box;
  color: coral;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  min-height: 3em;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.intro-text button{
    font-size: 1em;
    width: 100%;
}

.buttons a{
    width: 48%;
}



button:disabled {
  pointer-events: none;
}

button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

.intro-text .buttons{
    display: flex;
    margin-top: 1em;
    justify-content: space-between;
}
.main{
    color: rgb(255, 255, 255);
    background-color: rgb(10, 10, 11);
    width: 75%;
    margin: 0 auto; 
}

.main-content{
    width: 95%;
    margin: 0 auto;  
}

.intro-text{
    max-width: 60%;
    height: fit-content;
    margin: auto 0;
}

.intro-img{
    max-width: 30%;
}
.intro-img img{
    max-width: 100%;   
    border-radius: 1.5em;
    margin: 0 auto;
}

.intro {
    display: flex;
    gap: 5%; /* Adjust the value as needed */
    padding: 5% 0;
}

.footer p {
    font-size: 15px;
}
.footer{
    padding-top: 50px;
    text-align: center;

}



/* Media query for tablets */
@media (width <= 1000px) {
   
    
}

/* Media query for mobile devices */
@media (width <=  480px) {
    .intro {
        flex-direction: column; /* Aligns children vertically */
    }

    .main{
        width: 100%;
    }

    .intro-text{
        max-width: 100%;
        height: fit-content;
        margin: auto 0;
    }
    .intro-img{
        padding: 5% 0 0 0;
        margin: 0 auto;
        max-width: 95%;
    }

}
