.past {
    display: flex;
    justify-content: space-between;  /* Distributes space evenly between children */
    width: 100%;  /* Ensures the flex container spans the full width available */
    padding-bottom: 5%;
}
.past > div {
    width: 47.5%; /* Each child takes up 47.5% of the `.past` width */
}

.experience-container {
    position: relative;

}

ul {
    padding: 0;
    margin: 0;
}

li{
    padding: 0;
    margin: 0;
}

.vertical-line {
    position: absolute;
    left: .5em;  /* Position the line before the content */
    top: 1.5em;  /* Start the line below the date, adjust this value based on your layout */
    bottom: 0;
    width: 2px;
    background-color: white;  /* Ensure the line is visible on the contrasting background */
    z-index: 10;  /* High z-index to keep it on top */
}

.experience-entry {
    margin-left: 20px;  /* Space from the line */
    border-radius: 5px;
}

.date, .details {
    color: #fff;  /* Ensuring text is visible on black background */
}
.date {
    font-size: 0.85em;
}

.location-logo {
    width: 10%;
}
.experience-text {
    width: 85%;
}

.location-logo img {
    border-radius: 50%;  /* Creates a circular shape */
    width: 3em;        /* Specifies the width of the image */
    height: 3em;       /* Specifies the height of the image - should match the width for a perfect circle */
    object-fit: cover;   /* Ensures the image covers the area without distorting its aspect ratio */
}


.details {
    list-style-type: none;
    padding: 0;
}

.location-title{
    display: flex;
    justify-content: space-between;
    height: 4.5em;
    padding-top: 0.2em;
}

.location-title h3{
    font-size: .75em;
}
.location-title p{
    font-size: .6em;
}