* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  .skills {
    padding: 20px;
  }

  .dropdown {
    margin-bottom: 10px;
    /* border: 2px solid coral; */
    padding: 10px;

  }

  /* summary p {
    padding-top: 5%;
  } */

  .category {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .dropdown summary {
    font-size: 16px;
    cursor: pointer;
    list-style: none;
  }

  .dropdown summary:hover {
    color: #555;
  }

  .dropdown summary::-webkit-details-marker {
    display: none;
  }

  .dropdown-details {
    margin-top: 10px;
    padding-left: 20px;
  }

  .skill {
    margin: 10px 0;
  }

  .skill-name {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
  }

  .progress-bar {
    height: 10px;
    border-radius: 5px;
    background-color: red;
  }


  .icon {
    margin-right: 5px;
  }


  .summary-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .left-content {
    display: flex;
    align-items: center;
  }
  
  .summary-chevron {
    /* Keeps the chevron on the far right */
    margin-left: auto;
  }
  
  /* This will rotate the chevron when the details are open */
  details[open] .summary-chevron {
    transform: rotate(180deg);
  }