.project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding-bottom: 5%;
}

.project-card {
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1fr; /* Maximum width, one fraction of the grid space */
    padding: 0.5em;
    justify-content: space-between;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: default;
}

.project-card:hover {
    transform: scale(1.05);
    background-color: #3a3a3a;
}

.project-card h1 {
    font-size: 1.5em;
}

.project-card p {
    font-size: .75em;
    margin-bottom: 1em;
}

.projectTags {
    display: flex;
    flex-wrap: wrap; /* Wrap tags to next line if they exceed the card width */
    gap: 0.2em; /* Spacing between tags */
    width: 100%; /* Use full width */
    margin: 0.5em 0 .75em 0;
}

.project-tag {
    background-color: #9f0e0e;
    color: white;
    border-radius: 1em;
    font-size: .75em;
    padding: 0 .6em;
    margin: 0; /* Align margin for consistency */
}
.project-tag p{
    margin: 0%;
    padding: .25em 0;
}

.project button {
    min-height: none;
    min-width: none;
}
