.tictactoe {
    text-align: center;
    padding-top: 6%;
    /* padding-bottom: 10%; */
    color: rgb(204, 209, 215);
}
.game-mode {
    font-size: 20px;
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
    position: relative; /* Ensure the win line is positioned relative to the board */
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #6514d07e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.win-line {
    position: absolute;
    background-color: coral;
    height: 12px;
    width: 0;
    border-radius: 3px;
    /* transition: width 0.5s ease; */
    z-index: 10; /* Ensure the win line is above the board */
}





.mode-selection {
    margin-bottom: 20px;
}


.current-turn {
    font-size: 24px;
    margin-bottom: 20px;
}

.win-message {
    font-size: 24px;
    color: dodgerblue;
    margin-top: 20px;
}


